<div class="row-fluid">
  <div class="col-lg-6">
    <div class="outer-div">
    <div class="inner-div">
      <h1>Set Password</h1>
      <%= form_for :user, url: users_set_password_path do |f| %>
      <%= f.hidden_field :key, value: session[:current_user_key] %>
        <p>
          <%= f.label :Password %>
          <%= f.password_field :password, :required => true %><br>
        </p>
        <p>
          <%= f.submit "Set Password", class: "btn btn-lg btn-primary"%>
        </p>
      <% end %>
<%= link_to 'Sign In', users_login_main_path %>
<p id="notice"><%= notice %></p>
</div>
</div>
</div>
<div class="col-lg-6">
  <div style="height:100vh;background-image: url(/assets/hel.png);background-color: #21b2fe;background-repeat: no-repeat;">

  </div>
</div>
</div>
